<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaas.demo">

    <application
        android:name="com.mpaas.demo.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNew">

        <!--单组件诊断注册-->
        <activity android:name="com.mpaas.demo.cdp.LottieActivity"></activity>

        <!--mpaasapi-->
        <activity
            android:name="com.mpaas.demo.cdp.CdpMultiStyleActivity"
            android:screenOrientation="portrait" />

        <!--rpc网关-->
        <activity
            android:name="com.mpaas.demo.cdp.RotationActivity"
            android:screenOrientation="portrait" />

        <!--无限保镖appkey,用于加密-->
        <activity
            android:name="com.mpaas.demo.cdp.SplashActivity"
            android:screenOrientation="portrait" />

        <!--无限保镖AppSecret,用于加密-->
        <activity
            android:name="com.mpaas.demo.cdp.H5PopUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mpaas.demo.cdp.BannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.AnnouncementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.CdpLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.LocationTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.LocationFloatTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.LocationBottomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.LocationFullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.LocationListHeaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.LocationListFooterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.CustomSpaceCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.CdpTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicContent1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicContent2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicContent3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicList1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicList2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicList3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.FeatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.FeatureAddFeatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.FeatureNewActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.FeatureShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.FeatureShow2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.GifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.MCdpFloatIconViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.DynamicFloatIconActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.CdpTestUiViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.SpaceWordsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mpaas.demo.cdp.CdpTestRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mpaas.demo.cdp.H5AppZoneActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mpaas.demo.CdpPortalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.mpaas.demo.cdpdiagnose.registry"
            android:value="com.mpaas.health.cases.cdp.CdpDiagnoseRegistry;com.mpaas.diagnose.context.common.CommonDiagnoseRegistry" />
        <meta-data
            android:name="com.mpaas.demo.cdpmpaasapi"
            android:value="https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm" />
        <meta-data
            android:name="com.mpaas.demo.cdpmobilegw.url"
            android:value="https://cn-hangzhou-mgs-gw.cloud.alipay.com/mgw.htm" />
        <meta-data
            android:name="com.mpaas.demo.cdpappkey"
            android:value="570DA89281533_ANDROID" />
        <meta-data
            android:name="com.mpaas.demo.cdpAppSecret"
            android:value="" />
    </application>
</manifest>